In [2]:
import scaling
import feature_engineering
import cleaning
import os

import pandas as pd
import numpy as np
import calendar
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")


train_path = "T:\crop-yield-estimate\data\Train.csv"
df_train = cleaning.clean_data(train_path)
df_train = feature_engineering.get_features(df_train)

In [3]:
df_train.head()

,ID,District,Block,CultLand,CropCultLand,LandPreparationMethod,CropTillageDate,CropTillageDepth,CropEstMethod,RcNursEstDate,...,Total_Crop_Cycle_Duration,Num_LandPrepMethod,Num_NursDetFactor,Num_TransDetFactor,Num_OrgFertilizers,Num_CropbasalFerts,Num_TopDressFert,Latitude,Longitude,Elevation
0,ID_GTFAC7PEVWQ9,Nalanda,Noorsarai,45,40,TractorPlough FourWheelTracRotavator,2022-07-20,5,Manual_PuddledRandom,2022-06-27,...,119.0,2,2,5,0,1,1,25.2748,85.4569,63.0
1,ID_TK40ARLSPOKS,Nalanda,Rajgir,26,26,WetTillagePuddling TractorPlough FourWheelTrac...,2022-07-18,5,Manual_PuddledRandom,2022-06-20,...,159.0,3,3,5,0,2,1,25.0262,85.4174,67.0
2,ID_1FJY2CRIMLZZ,Gaya,Gurua,10,10,TractorPlough FourWheelTracRotavator,2022-06-30,6,Manual_PuddledRandom,2022-06-20,...,195.0,2,2,3,2,1,1,24.6696,84.7720,114.0
3,ID_I3IPXS4DB7NE,Gaya,Gurua,15,15,TractorPlough FourWheelTracRotavator,2022-06-16,6,Manual_PuddledRandom,2022-06-17,...,196.0,2,2,5,1,2,1,24.6696,84.7720,114.0
4,ID_4T8YQWXWHB4A,Nalanda,Noorsarai,60,60,TractorPlough WetTillagePuddling,2022-07-19,4,Manual_PuddledRandom,2022-06-21,...,136.0,2,2,4,0,2,1,25.2748,85.4569,63.0

In [4]:
# Lets see all the columns
pd.set_option('display.max_columns', None)

In [5]:
filtered_columns = df_train.filter(like='NursDetFactor_')
df_nurs = filtered_columns.copy()
df_merged = df_nurs.merge(df_train[['ID']], left_index=True, right_index=True)
df_merged.head()

,NursDetFactor_CalendarDate,NursDetFactor_PreMonsoonShowers,NursDetFactor_IrrigWaterAvailability,NursDetFactor_LabourAvailability,NursDetFactor_SeedAvailability,ID
0,True,False,True,False,True,ID_GTFAC7PEVWQ9
1,True,True,True,True,True,ID_TK40ARLSPOKS
2,False,True,True,True,False,ID_1FJY2CRIMLZZ
3,True,True,True,True,True,ID_I3IPXS4DB7NE
4,True,False,True,False,True,ID_4T8YQWXWHB4A

In [6]:
date_variables = ["CropTillageMonth", "HarvestMonth", "ThreshingMonth"]

In [7]:
df_train["CropTillageMonth"].value_counts()

CropTillageMonth
July      2908
June       860
August     101
May          1
Name: count, dtype: int64

In [8]:
df_train["ID"]

0       ID_GTFAC7PEVWQ9
1       ID_TK40ARLSPOKS
2       ID_1FJY2CRIMLZZ
3       ID_I3IPXS4DB7NE
4       ID_4T8YQWXWHB4A
             ...
3865    ID_7ZZQ6R4XB4FK
3866    ID_PVVDF6LK6FO8
3867    ID_RBYVUPRATVMW
3868    ID_ARE9QWENJNJ2
3869    ID_KEPOQDTCZC6S
Name: ID, Length: 3870, dtype: object

In [9]:
# DO THIS IN CLEANING PY
df_train[df_train["CropTillageMonth"] == "May"]["ID"]

379    ID_N2FQH4S194A9
Name: ID, dtype: object

In [10]:
# What categorical columns have entries that do not appear more than 20 times?
for col in date_variables:
     print(df_train[col].value_counts())
     print('\n')

CropTillageMonth
July      2908
June       860
August     101
May          1
Name: count, dtype: int64


HarvestMonth
November     2494
October       807
December      554
January         8
September       5
February        1
March           1
Name: count, dtype: int64


ThreshingMonth
December    1370
November    1008
January      683
October      523
February     236
March         50
Name: count, dtype: int64

In [11]:
# DO THIS IN CLEANING PY
df_train["HarvestMonth"] = df_train["HarvestMonth"].replace({'January': 'December','September': 'October', 'March': 'December', 'February':'December'})

In [12]:
# What categorical columns have entries that do not appear more than 20 times?
for col in date_variables:
     print(df_train[col].value_counts())
     print('\n')

CropTillageMonth
July      2908
June       860
August     101
May          1
Name: count, dtype: int64


HarvestMonth
November    2494
October      812
December     564
Name: count, dtype: int64


ThreshingMonth
December    1370
November    1008
January      683
October      523
February     236
March         50
Name: count, dtype: int64

In [13]:
# Get the count of unique values in each categorical column
categorical_columns = df_train.select_dtypes(include=['object']).columns
small_sample_columns = []

for col in categorical_columns:
    value_counts = df_train[col].value_counts()
    small_samples = value_counts[value_counts < 20]
    
    if not small_samples.empty:
        small_sample_columns.append(col)

print("Columns with small samples (under 20):")
print(small_sample_columns)

Columns with small samples (under 20):
['ID', 'Block', 'LandPreparationMethod', 'NursDetFactor', 'TransDetFactor', 'TransplantingIrrigationSource', 'TransplantingIrrigationPowerSource', 'OrgFertilizers', 'PCropSolidOrgFertAppMethod', 'CropbasalFerts', 'MineralFertAppMethod_1', 'FirstTopDressFert', 'TpIrrigationSource_Imputed', 'TpIrrigationPowerSource_Imputed', 'CropTillageMonth', 'CropTillageSeason', 'HarvestSeason']

In [14]:
for col in small_sample_columns:
    if col != "ID":
        value_counts = df_train[col].value_counts()
        small_samples = value_counts[value_counts < 20]
        print(small_samples)
        print('\n')

Block
Gaya    1
Name: count, dtype: int64


LandPreparationMethod
TractorPlough WetTillagePuddling                                         17
WetTillagePuddling FourWheelTracRotavator TractorPlough                  15
WetTillagePuddling TractorPlough BullockPlough FourWheelTracRotavator    13
TractorPlough WetTillagePuddling BullockPlough                           10
WetTillagePuddling FourWheelTracRotavator TractorPlough BullockPlough     9
WetTillagePuddling BullockPlough TractorPlough FourWheelTracRotavator     8
BullockPlough TractorPlough                                               8
BullockPlough FourWheelTracRotavator TractorPlough WetTillagePuddling     7
WetTillagePuddling Other                                                  7
WetTillagePuddling BullockPlough TractorPlough                            7
Other                                                                     6
TractorPlough FourWheelTracRotavator BullockPlough                        3
BullockPlough TractorPlough WetTillagePuddling                            3
FourWheelTracRotavator WetTillagePuddling                                 2
BullockPlough TractorPlough WetTillagePuddling FourWheelTracRotavator     2
WetTillagePuddling BullockPlough FourWheelTracRotavator TractorPlough     2
TractorPlough WetTillagePuddling BullockPlough FourWheelTracRotavator     2
TractorPlough BullockPlough WetTillagePuddling                            2
TractorPlough Other                                                       1
TractorPlough FourWheelTracRotavator BullockPlough WetTillagePuddling     1
BullockPlough                                                             1
BullockPlough WetTillagePuddling                                          1
TractorPlough WetTillagePuddling FourWheelTracRotavator BullockPlough     1
FourWheelTracRotavator WetTillagePuddling BullockPlough TractorPlough     1
FourWheelTracRotavator WetTillagePuddling TractorPlough                   1
FourWheelTracRotavator BullockPlough WetTillagePuddling TractorPlough     1
FourWheelTracRotavator BullockPlough                                      1
TractorPlough FourWheelTracRotavator WetTillagePuddling BullockPlough     1
Name: count, dtype: int64


NursDetFactor
CalendarDate IrrigWaterAvailability PreMonsoonShowers                                        17
IrrigWaterAvailability SeedAvailability CalendarDate                                         16
PreMonsoonShowers IrrigWaterAvailability LabourAvailability                                  15
CalendarDate SeedAvailability LabourAvailability                                             15
IrrigWaterAvailability PreMonsoonShowers                                                     13
                                                                                             ..
IrrigWaterAvailability CalendarDate PreMonsoonShowers LabourAvailability                      1
LabourAvailability SeedAvailability IrrigWaterAvailability PreMonsoonShowers                  1
CalendarDate PreMonsoonShowers SeedAvailability IrrigWaterAvailability LabourAvailability     1
CalendarDate SeedAvailability PreMonsoonShowers IrrigWaterAvailability                        1
LabourAvailability IrrigWaterAvailability PreMonsoonShowers                                   1
Name: count, Length: 100, dtype: int64


TransDetFactor
CalendarDate RainArrival SeedlingAge IrrigWaterAvailability                      17
SeedlingAge CalendarDate                                                         16
CalendarDate RainArrival IrrigWaterAvailability                                  16
IrrigWaterAvailability LaborAvailability                                         16
LaborAvailability IrrigWaterAvailability RainArrival SeedlingAge                 15
                                                                                 ..
LaborAvailability RainArrival SeedlingAge CalendarDate                            1
IrrigWaterAvailability LaborAvailability RainArrival CalendarDate SeedlingAge     1
CalendarDate LaborAvailability SeedlingAge RainArrival                            1
RainArrival CalendarDate SeedlingAge                                              1
RainArrival SeedlingAge CalendarDate IrrigWaterAvailability                       1
Name: count, Length: 124, dtype: int64


TransplantingIrrigationSource
TubeWell    12
Well         3
Name: count, dtype: int64


TransplantingIrrigationPowerSource
Solar    2
Name: count, dtype: int64


OrgFertilizers
VermiCompost                               19
Ganaura FYM VermiCompost                   10
FYM Ganaura                                10
Ganaura FYM VermiCompost Ghanajeevamrit    10
FYM VermiCompost                            8
Ganaura Ghanajeevamrit                      5
Ganaura VermiCompost Ghanajeevamrit         4
VermiCompost FYM                            4
Ganaura Jeevamrit                           2
Ganaura Pranamrit Ghanajeevamrit            2
Ghanajeevamrit Ganaura                      2
PoultryManure                               2
Ganaura PoultryManure                       2
Ganaura Ghanajeevamrit FYM                  2
Ghanajeevamrit Ganaura FYM                  1
Ghanajeevamrit FYM Ganaura                  1
Ganaura Pranamrit FYM                       1
Ganaura Pranamrit                           1
Ganaura FYM PoultryManure VermiCompost      1
Ganaura VermiCompost FYM                    1
FYM Ghanajeevamrit                          1
Ganaura Ghanajeevamrit VermiCompost         1
Ganaura FYM PoultryManure                   1
Jeevamrit                                   1
FYM Ganaura VermiCompost                    1
Pranamrit                                   1
Ganaura FYM Ghanajeevamrit VermiCompost     1
Name: count, dtype: int64


PCropSolidOrgFertAppMethod
RootApplication    9
Spray              3
Name: count, dtype: int64


CropbasalFerts
DAP Urea NPKS        18
NPK Urea              8
Urea DAP SSP          7
Urea NPKS             6
Urea DAP NPKS         3
DAP NPKS              3
DAP SSP               3
Urea NPKS DAP         3
DAP NPK Urea          2
DAP Urea NPK          1
Urea DAP MoP          1
SSP Urea              1
NPKS                  1
DAP NPKS Urea         1
NPKS DAP Urea         1
DAP Urea NPKS MoP     1
DAP NPKS Urea SSP     1
Urea SSP              1
Urea NPK              1
DAP NPKS Other        1
NPK DAP Urea          1
DAP Urea SSP MoP      1
DAP MoP               1
DAP Urea NPKS SSP     1
DAP Urea MoP          1
Urea SSP DAP          1
Urea Other DAP        1
Name: count, dtype: int64


MineralFertAppMethod_1
RootApplication    18
Name: count, dtype: int64


FirstTopDressFert
NPKS Urea       6
Urea NPKS       5
NPK             3
DAP NPKS        3
NPK Urea        2
DAP NPK Urea    1
Urea NPK        1
DAP NPK         1
Urea SSP        1
Other Urea      1
Name: count, dtype: int64


TpIrrigationSource_Imputed
TubeWell    12
Well         3
Name: count, dtype: int64


TpIrrigationPowerSource_Imputed
Solar    2
Name: count, dtype: int64


CropTillageMonth
May    1
Name: count, dtype: int64


CropTillageSeason
Summer    1
Name: count, dtype: int64


HarvestSeason
Winter     10
Monsoon     5
Name: count, dtype: int64

NursDetFactor has very low SHAPley value so instead of dropping the rows with low values I will drop the column itself

In [15]:
df_train.groupby("Num_TopDressFert")["Yield_per_Acre"].mean()

Num_TopDressFert
0    1917.114279
1    1971.305057
2    1995.967717
3    1939.666667
Name: Yield_per_Acre, dtype: float64